<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchUpNum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46572C571C67B4000026DBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46572C6B1C67B4010026DBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46572C761C67B4010026DBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
